


input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input:focus{
  outline: none;
  background-color: var(--color-white);
  padding-left: 1em;
  color: black;
}

/* form styles */
form {
  width: 60%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}

input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .5em;
  background-color: transparent;
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}